<div class="task-lists">

  <!-- 列表 -->
  <app-task-list 
    class="list-container" 
    *ngFor="let list of lists"
    app-droppable
    [dropTags]="['task-item', 'task-list']"
    [dragEnterClass]="'drag-enter'"
    [app-draggable]="true"
    [dragTag]="'task-list'"
    [draggedClass]="'drag-start'"
    [dragData]="list"
    (dropped)="handleMove($event, list)"
    [ngStyle]="{'order': list.order}"
  >

    <!-- 列表头部 -->
    <app-task-header 
      [header]="list.name" 
      (newTask)="launchNewTaskDialog()"
      (moveAll)="launchCopyTaskDialog()"
      (delList)="launchConfirmDialog()"
      (editlList)="launchEditListDialog()"
    ></app-task-header>

    <!-- 列表内容部分 -->
    <app-task-item 
      *ngFor="let task of list.tasks" 
      [item]="task"
      (taskClick)="launchUpdateTaskDialog(task)"
    >
      
    </app-task-item>
  </app-task-list>
</div>

<!-- 右下角的按钮 -->
<button 
  class="fab-button" 
  md-fab 
  type="button" 
  (click)="launchNewListDialog()"
>
  <md-icon>add</md-icon>
</button>