<md-card>
  <!-- 头部 -->
  <md-card-header>
    <md-card-title>
      {{ item.name }}
    </md-card-title>
  </md-card-header>

  <!-- 封面 -->
  <img md-card-image [src]="item.coverImg" alt="项目封面">

  <!-- 内容部分 -->
  <md-card-content>
    {{ item.desc }}
  </md-card-content>

  <!-- 按钮组 -->
  <md-card-actions>
    <button md-button type="button" (click)="onEditClick()">
      <md-icon>add</md-icon>
      <span>编辑</span>
    </button>

    <button md-button type="button" (click)="onInviteClick()">
      <md-icon>group_add</md-icon>
      <span>邀请</span>
    </button>

    <button md-button type="button" (click)="onDelClick()">
      <md-icon>delete</md-icon>
      <span>删除</span>
    </button>
  </md-card-actions>
</md-card>