<form action="#">
  <md-card>
    <md-card-header>
      <md-card-title>登录：</md-card-title>
    </md-card-header>
  
    <md-card-content>
      <md-input-container>
        <input mdInput type="text" placeholder="email">
      </md-input-container>
      <md-input-container>
        <input mdInput type="text" placeholder="password">
      </md-input-container>
      <button md-raised-button type="button">登录</button>
    </md-card-content>
  
    <md-card-actions class="text-right">
      <p>还没有账户？<a href="">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>
        提示
      </md-card-title>
      <md-card-subtitle>ASDASDAS</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/1.jpg" alt="">
    <md-card-content>
      ASDASDAS
    </md-card-content>
  </md-card>

</form>